*
{
    padding: 0;
    margin: 0;
}



body{
    margin: 0px;
    padding: 0px;
    background-image: url(images/bpizza.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.menu{    
    background-color:orange;
    text-align: center;
    
}
.menu ul{
    display: inline-flex;
    list-style: none   ;
    color:black
}   
.menu ul li{
    width: 120px;
    margin: 20px;
    padding: 20px;
}