*
{
    padding: 0;
    margin: 0;
    
}



body{
    margin: 0px;
    padding: 0px;
    background-image: url(images/bpizza.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.menu{    
    background-color:greenyellow;
    text-align: center;
    
}
.menu ul{
    display: inline-flex;
    list-style: none;
    color:black;
}   
.menu ul li{
    width: 120px;
    margin: 20px;
    padding: 20px;
}
.menu ul li a{
    text-decoration: none;
    color: black;
}
.active, .menu ul li:hover{
    background:pink;
    border-radius: 4px;
 
}
.menu .fa{
    margin-right: 10px;
}
.sub-menu-1{

    display: none;
}
.menu ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background:orange;   
    margin-top: 15px;
    margin-left:15px ;
}
.menu ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
}
.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color:green;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin:400px 300px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    
}

.glow-on-hover:active {
    color: #000
    
}

.glow-on-hover:active:after {
    background: transparent;
    
}

.glow-on-hover:hover:before {
    opacity: 1;
    
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
    
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
    
}
    
